version: "3"
services:
  redis:
    container_name: redis
    image: redis:latest
    ports:
      - "6379:6379"

  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: ecometrix
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data


networks:
  ecometrix_default:
    external: true
